.chat-details-window table {
  text-transform: capitalize;
}

.chat-details-window table {
  width: max-content;
  text-align: left;
  border-spacing: 0 0.8rem;
  border-color: var(--color-white);
  border-radius: 0.2rem;
  --webkit-overflow-scrolling: touch;
}

.chat-details-window table th {
  font-weight: 400;
  font-family: "chirp-medium";
}

.chat-details-window th,
.chat-details-window td {
  padding-right: 1.6rem;
}

.chat-details-window .hero-title-container {
  place-items: center;
}
