header {
  display: grid;
  padding: 0.4rem 0.8rem;
  grid-template-columns: max-content auto;
  grid-template-rows: 1fr;
  gap: 1.6rem;
  position: relative;
  z-index: 10;
  text-transform: capitalize;
  font-family: "chirp-bold";
}
@media (max-width: 991px) {
  header > .site-logo-link {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  header > .site-logo-link.mini {
    display: initial;
    width: max-content !important;
  }
}
header .site-logo-link.show {
  display: inline;
  height: 1.6rem;
}
@media (min-width: 992px) {
  header .site-logo-link.show {
    height: 2.4rem;
  }
}
header > * {
  padding: 0 !;
  height: 100%;
  width: 100%;
  align-self: center !important;
}

header #page-title-container {
  text-align: right;
  overflow: hidden;
}
header #page-title-container {
  align-self: center !important;
  place-content: end;
  display: flex;
}
header #page-title-container > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
header #page-title-container > * {
  place-self: end;
}

header nav {
  display: none;
}
#header-menu-btn {
  width: max-content;
  padding: 0 0.4rem;
  height: 100%;
  border: 0.1rem solid transparent;
  border-radius: 0.4rem;
}
#header-extra-menu {
  position: fixed;
  font-family: "chirp";
  top: 3rem;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.92);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  border-bottom: 0.2rem solid var(--color-white);
  z-index: 10;
  padding: 0.4rem 0.8rem;
  height: max-content;
  overflow-y: scroll;
}
#header-extra-menu .section {
  display: flex;
  flex-direction: column;
}
#header-nav .header-link {
  text-align: center;
}
@media (min-width: 768px) {
  header nav {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 0.4rem;
    width: 100%;
  }
  header nav.full {
    grid-template-columns: auto;
  }
  header nav .section-link {
    padding: 0 0.4rem;
    width: 100%;
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.15);
    border-radius: 0;
  }
  header nav .section-link.active {
    border-color: var(--color-white);
  }

  #header-extra-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: max-content;
  }
  header .site-logo-link {
    width: 12rem !important;
  }
  header {
    grid-template-columns: max-content max-content 1fr;
    grid-template-rows: 2rem;
  }
}
header #page-title-container .site-logo-link {
  height: 2rem;
  align-self: center;
}
@media (min-width: 992px) {
  header #page-title-container .site-logo-link {
    display: none;
}
}

header .active svg,
header .active svg path:nth-child(2) {
  fill: var(--color-white) !important;
}
