@import url("./forms/Spaced.css");
@import url("./forms/Compact.css");
@import url("./forms/Util.css");
@import url("./forms/BasicDetailsUpdateForm.css");
@import url("./forms/Confirmation.css");

textarea,
input,
label {
  font-family: "chirp-medium";
  text-align: left;
  place-self: start;
  outline: none;
}
textarea,
input {
  border-radius: 0.2rem;
  background-color: var(--color-base);
  border: 0.2rem solid transparent;
  font-family: "chirp";
  padding: 0.4rem 0.2rem;
}
textarea {
  padding: 0.4rem;
  resize: none;
}
textarea:enabled,
input:enabled {
  background-color: var(--color-base-complimentary-light);
}
textarea:focus,
input:focus {
  background-color: var(--color-white) !important;
  color: var(--color-text-black-primary) !important;
  border-color: var(--color-primary) !important;
}

textarea:focus::selection,
input:focus::selection {
  background-color: var(--color-primary);
  color: var(--color-text-white-primary);
}

textarea:enabled:hover,
input:enabled:hover {
  border-color: var(--color-primary);
}

.form-section button {
  width: 100%;
  border-radius: 0.2rem;
  background-color: var(--color-white);
  color: var(--color-base);
}

input.error,
textarea.error {
  border-color: var(--color-danger) !important;
  box-shadow: none !important;
}

input.btn {
  border-radius: 0.2rem;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.search-input::before {
  content: "::" !important;
  display: block;
  width: 4rem;
}
