:root {
  --color-base: #0a0909;
  --color-base-complimentary-dark: hsl(0, 0%, 8%);
  --color-base-complimentary-light: #292929;
  --color-white-text: #e0e7eb;
  --color-white: #e0e7eb;
  --color-primary: #107896;
  --color-brown: hsl(48, 74%, 21%);

  --color-disabled: #6d7e7e;
  --color-success: #5fad41;
  --color-danger: #ef1d24;
}
