@font-face {
  font-family: "chirp";
  src:
    url("../assets/fonts/chirp-regular.woff2") format("woff2"),
    url("../assets/fonts/roboto-regular.woff") format("woff");
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "chirp-medium";
  src:
    url("../assets/fonts/chirp-medium.woff2") format("woff2"),
    url("../assets/fonts/roboto-medium.woff") format("woff");
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "chirp-bold";
  src:
    url("../assets/fonts/chirp-bold.woff2") format("woff2"),
    url("../assets/fonts/roboto-bold.woff") format("woff");
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "chirp-heavy";
  src:
    url("../assets/fonts/chirp-heavy.woff2") format("woff2"),
    url("../assets/fonts/roboto-heavy.woff") format("woff");
  font-display: swap;
  font-style: normal;
}

html {
  /* font-size: 14px; */
  font-size: clamp(12px, 2vw, 15px);
  font-family: "chirp", monospace;
}

h1,
h2,
h3,
h4,
h5,
header,
input,
textarea,
option,
.title {
  font-family: "chirp-bold";
}

h1,
h2 {
  font-family: "chirp-heavy";
}

.title {
  font-size: 1.4em;
}

.title,
.capitalize {
  text-transform: capitalize;
}

.positive {
  color: var(--color-success);
}
.danger {
  color: var(--color-danger);
}
p,
span {
  word-break: break-word;
}

header {
  font-size: 1.2rem;
}

main {
  font-size: 1rem;
}

* {
  text-decoration: none;
}

.chatroom-name {
  text-transform: capitalize;
}

.bullet-text::before {
  content: "\2981";
  /* content: "\2022"; */
  /* content: "\2022"; */
  margin-right: 0.8rem;
  color: inherit;
}

.username::before {
  content: "\0040";
  margin-right: 0.2rem;
}

.layout-sidebar .section-link {
  text-decoration: underline;
  text-transform: capitalize;
}

.gray {
  color: var(--color-disabled);
}
