.chatroom-list {
  display: grid;
  border-collapse: collapse;
  gap: 0.4rem;
}

.chatroom-card .name {
  font-size: 1.1rem;
  font-family: "chirp-medium";
  text-transform: capitalize;
}
.chatroom-card .name::before {
  padding-right: 0.4rem
}
.chatroom-card .activity-date {
  scale: 0.9;
  font-size: 0.9em;
  text-transform: lowercase;
  transform-origin: left;
}

@media (min-width: 768px) {
  .chatroom-list {
    grid-template-columns: 1fr 1fr;
  }
}