.nav-container {
  position: sticky;
  top: 0;
  background-color: var(--color-base) !important;
  height: max-content;
  background-color: var(--color-base);
  border-bottom: 0.1rem solid var(--color-base-complimentary-light);
  overlay: auto;
}
.nav-container.dropdown-nav-container {
  z-index: 4;
}
@media (max-width: 991px) {
  .nav-container {
    position: relative;
  }
  .nav-container .navs-content {
    overflow-x: scroll;
  }
}
