.signal-modal {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.6rem;
  text-align: center;
  color: var(--color-low-text);
  fill: var(--color-base-complimentary-light);
  gap: 0.8rem;
}
.signal-modal div {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.signal-modal .loader-animation {
  width: 8rem;
}
@media (min-width: 992px) {
  .signal-modal .loader-animation {
    width: 16rem;
  }
}
.fetching-animations-container {
  display: flex;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  height: 8rem;
  aspect-ratio: 1/1;
}
.icons-container .icon {
  height: 2.4rem;
}
.icons-container.double {
  position: relative;
  height: 100%;
}
.icons-container.double .icon {
  position: absolute;
  inset: 0 0 0 0;
  height: 100%; 
  margin: auto;
}
.icons-container.double svg:nth-child(1) {
  z-index: 2;
  transform-origin: center;
  transform: translateX(8%);
}
.icons-container.double svg:nth-child(2) {
  z-index: 1 !important;
  height: 200%;
  fill: var(--color-primary) !important;
  opacity: 0.8;
}
