.compact-form {
  width: max-content;
  background-color: transparent;
  place-self: center;
  margin: unset;
}
.compact-form label {
  display: flex;
  align-items: center;
  padding-inline: 0.4rem;
}
.compact-form label::after {
  content: ":";
}
.compact-form .form-main-content-container {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.compact-form .input-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 0.4rem;
  width: 100% !important;
}
.compact-form .error-modal {
  grid-column: span 2;
}

.compact-form .input-container > * {
  width: 100%;
  height: 100%;
  background-color: var(--color-base-complimentary-light);
  border-radius: 0.2rem;
}

@media (max-width: 767px) {
  .compact-form {
    width: 100%;
  }
}
