.util-form {
  display: grid;
  grid-template-columns: 5fr auto;
  gap: 0.8rem;
  width: 100%;
}
.util-form > * {
  align-self: center;
  height: 100%;
  width: 100%;
}
.util-form input {
  padding-inline: 0.8rem;
}
.util-form .btns-container {
  display: grid;
  grid-auto-flow: column;
  overflow: hidden;
}
.util-form input,
.util-form .btns-container {
  border-radius: 4rem;
}
.util-form button {
  border: 0;
  border-radius: 0;
  height: 100%;
  width: 100%;
  padding: 0.4rem 0.8rem;
  background-color: var(--color-base-complimentary-light);
}
.util-form button.active{
  background-color: var(--color-primary) !important;
  color: var(--color-white);
}
