
.util-form {
    display: grid;
    grid-template-columns: 0.8fr auto;
    gap: 0.8rem;
    width: 100%;
}
.util-form.double {
    grid-template-columns: 1fr;
}
@media (min-width: 992px) {
    .util-form.double {
        grid-template-columns: 0.8fr auto;
    }
}
.util-form.double .btns-container,
.util-btns-container.double {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-collapse: collapse;
    border: 0.2rem solid var(--color-white);
    border-radius: 4rem;
    overflow: hidden;
    width: max-content;
}
.util-form.double .btns-container button,
.util-btn {
    border-radius: 0;
    border: none;
    height: 100%;
    width: 100% !important;
    background-color: var(--color-base);
}
.util-form.double .btns-container button.active,
.util-btn.active {
    background-color: var(--color-primary) !important;
    color: var(--color-white);
}

.util-form input {
    padding-inline: 1.6rem;
    width: 100%;
    background-color: var(--color-base-complimentary-light) !important;
    border-radius: 4rem;
    color: var(--color-white);
}

@media (min-width: 992px) {
    .util-form.double-btn {
        grid-template-columns: 0.6fr auto auto;
    }
    .util-form.double .btns-container button:hover,
    .util-btn:hover {
        box-shadow: none;
        background-color: var(--color-base-complimentary-light);
    }
    
}
.util-form * {
    width: 100% !important;
}
