.message-card {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.message-card .message-date {
  font-size: 0.9em;
  text-transform: lowercase;
  font-family: monospace;
  word-spacing: -0.2rem;
  color: var(--color-text-white-dimmed);
}


.message-card .message-body {
  width: 100%;
  white-space: pre-line;
  padding-right: 0.4rem;
  overflow: hidden;
}
@media (min-width: 992px) {
  .message-body .message-body {
    padding-bottom: 0.2rem;
  }
}
.message-card .message-body.cut {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
}
.message-card .message-body.full {
  white-space: unset !important;
  max-height: unset !important;
}

.message-card .sender-name {
  font-family: "chirp-medium";
  font-size: 0.9em;
}
