@import url("./MessageCard.css");

.all-messages-section .speech-bubble {
  place-self: center;
  margin-block: 0.4rem;
  width: max-content;
  max-width: 80%;
  padding: 0.4rem 0.8rem;
  text-transform: none;
  background-color: var(--color-message-bubble) !important;
}
.all-messages-section .speech-bubble::after,
.all-messages-section .speech-bubble::before {
  border-right-color: var(--color-message-bubble);
  border-left-color: var(--color-message-bubble);
}

.all-messages-section .speech-bubble .message-body {
  user-select: text;
}

.all-messages-section .speech-bubble.right {
  place-self: end;
  background-color: var(--color-message-bubble-own) !important;
}
/* .all-messages-section .speech-bubble.right * { */
  /* color: var(--color-base); */
/* } */
.all-messages-section .speech-bubble.right::after,
.all-messages-section .speech-bubble.right::before {
  border-right-color: var(--color-message-bubble-own);
  border-left-color: var(--color-message-bubble-own);
}

.all-messages-section .speech-bubble.right * {
  text-align: end;
  place-self: end;
}
.all-messages-section .speech-bubble.left {
  place-self: start;
}
.all-messages-section .speech-bubble.left * {
  text-align: start;
  place-self: start;
}

.all-messages-section .speech-bubble.both::after,
.all-messages-section .speech-bubble.both::before {
  border-right-color: var(--color-white);
  border-left-color: var(--color-white);
}

.all-messages-section .speech-bubble.both {
  transform: scale(0.9) !important;
  font-family: "roboto serif";
  margin-inline: auto;
  background-color: var(--color-white) !important;
}
.all-messages-section .speech-bubble.both * {
  color: black;
}
.all-messages-section .speech-bubble.both::after,
.all-messages-section .speech-bubble.both::before {
  border-right-color: var(--color-white);
  border-left-color: var(--color-white);
}

.all-messages-section .speech-bubble.both.alert {
  color: var(--color-white);
  background-color: var(--color-danger) !important;
}
.all-messages-section .speech-bubble.both.alert::after,
.all-messages-section .speech-bubble.both.alert::before {
  border-right-color: var(--color-danger) !important;
  border-left-color: var(--color-danger) !important;
}
