@import url("./styles/App.css");

* {
  margin: 0;
}
html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  background-color: var(--color-base);
}

#root {
  text-align: start;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  height: 100svh;
  overflow: hidden;
}

#root.resize-box {
  height: var(--vh);
}

main {
  height: 100%;
  overflow: hidden;
}
