.minimal-modal {
  background-color: var(--color-base-complimentary-light);
  height: max-content !important;
  width: max-content !important;
  max-width: 90%;
  padding: 0.8rem 1.6rem !important;
  text-align: center;
  border: 0.2rem solid var(--color-white);
  border-radius: 0.4rem;
  z-index: 20;
  gap: 0.4rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  fill: white;
}
@media (min-width: 992px) {
  .minimal-modal {
    max-width: 50%;
  }
}

.minimal-modal.fail {
  background-color: var(--color-danger);
  color: var(--color-white);
}
.minimal-modal.success {
  background-color: var(--color-success);
  background-color: green;
  color: var(--color-white);
}

.minimal-modal .main-message-content-container {
  display: grid;
  grid-template-columns: 0.4fr auto 2fr;
  gap: 1.8rem;
  text-transform: capitalize;
  align-items: center;
}
.minimal-modal .main-message-content-container .icon-container {
  height: 3.2rem;
  fill: var(--color-white) ;
}

.minimal-modal button {
  background-color: var(--color-base);
  border-radius: 0.2rem;
}
.minimal-modal .main-message-content-container * {
  align-content: flex-end;
}
